@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans TC", sans-serif;
    color: #303030;
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    background-color: #f7e8e6;
}

.up-btn {
    position: fixed;
    bottom: 30px;
    right: 10px;
    width: 55px;
    height: 55px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.up-btn i {
    font-size: 35px;
    color: #f7e8e6;
    line-height: 55px;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgb(48, 48, 48);
    position: fixed;
    top: 0px;
    z-index: 100;
}

.icon {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.icon img {
    width: 100%;
    border-radius: 50%;
    transition: 0.2s;
}

.icon:hover img {
    background-color: #c4a09a6d;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px 20px;
}

nav a:nth-child(2) {
    margin-right: 100px;
}

nav a:nth-child(3) {
    margin-left: 100px;
}

nav a::after {
    content: "";
    position: absolute;
    height: 0;
    left: 50%; /* 底線起點為中間 */
    right: 50%;
    bottom: 0;
    border-bottom: 2px solid #ff9a91;
    transition: 0.3s;
}

nav a:hover::after {
    /* 底線向左右延伸 */
    left: 0;
    right: 0;
}

.navbar button {
    display: none;
    width: 80px;
    height: 80px;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
    cursor: pointer;
}

.navbar i {
    color: #ff9a91;
}

.container {
    width: 100%;
    margin: auto;
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

.about {
    padding-top: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 40%;
    margin-left: 50px;
}

.photo img {
    width: 100%;
    border-radius: 50%;
}

.about .txt {
    width: 60%;
    margin: 0px 50px;
}

.about h1 {
    width: 90%;
    margin: auto;
    font-family: "Rammetto One", sans-serif;
    text-shadow: 5px 5px 3px #f5a0a0a6;
    font-size: 80px;
    margin-bottom: 30px;
}

.about p {
    width: 100%;
    text-align: justify;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6em;
}

.title {
    padding: 15px;
    font-size: 40px;
    display: flex;
}

.title::before,
.title::after {
    /* 兩側邊線 */
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #ff9a91;
    margin: auto;
}

.title::before {
    margin-right: 1em;
}

.title::after {
    margin-left: 1em;
}

.skills-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto 80px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-pic {
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 40px 30px 20px;
    background-color: #fff;
    border-radius: 50%;
}

.item-pic i {
    font-size: 70px;
    line-height: 120px;
}

.project-group {
    display: flex;
    margin: 60px 0px 100px;
    justify-content: center;
}

.box img {
    width: 100%;
    vertical-align: middle;
}

.box {
    text-decoration: none;
    width: 32%;
    padding: 15px 15px 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0px 15px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.1);
    border-radius: 10px;
}

.box:hover {
    box-shadow: 0 15px 30px rgba(255, 0, 0, 0.2);
}

.box h2 {
    margin: 10px 0px;
    text-align: center;
}

.tool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool li {
    border: 1px solid #ff9a91;
    padding: 5px 20px;
    border-radius: 30px;
    margin: 5px 5px;
}

.custom-item-pic img {
    width: 52px;
    margin-top: 18px;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 80px;
}

.cv img {
    width: 30%;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(48, 48, 48);
    border-image: initial;
    margin: 0px 50px;
}

.cv-btn {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.cv-btn a {
    background-color: rgb(48, 48, 48);
    color: rgb(247, 232, 230);
    margin-bottom: 30px;
    text-decoration: none;
    padding: 10px 20px;
}

.cv-btn i {
    color: rgb(247, 232, 230);
    padding-right: 0.5em;
}

.contact-group {
    display: flex;
    margin: 30px 15px 0px;
}

.social-links {
    text-align: center;
    font-size: 22px;
    margin: 100px 50px 0px;
}

.social-links a {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0px 20px 30px;
    border-radius: 50%;
    background-color: #ff9a91;
}

.social-links i {
    color: #f7e8e6;
    font-size: 60px;
    line-height: 80px;
}

form {
    width: 70%;
    margin: auto;
}

#my-form-status {
    height: 23px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    padding: 5px;
    transition: 0.5s;
}

.input-group {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    opacity: 0;
}

form input::placeholder,
form textarea::placeholder {
    color: #ff9a91b6;
}

form input,
form textarea {
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 26px;
    padding: 15px 15px 15px 60px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    outline: none;
    background-position: 10px center;
}
form textarea {
    min-height: 120px;
    resize: vertical;
}

form input:focus,
form textarea:focus {
    border: 3px solid #ff9a91;
}

#name {
    background-image: url("../assets/input-user.svg");
}

#email {
    background-image: url("../assets/input-email.svg");
}

#message {
    background-image: url("../assets/input-message.svg");
    background-position: 10px 15px;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
}

.btn-group button {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: 300;
    margin: 50px 15px;
    padding: 10px 22px;
}

.btn-group i {
    margin-right: 10px;
}

.clear-btn {
    background-color: transparent;
    border: 1px solid #303030;
}

.clear-btn:hover {
    background-color: rgba(110, 110, 110, 0.1);
}

.clear-btn i {
    color: #303030;
}

.send-btn {
    background-color: #303030;
    border: none;
    color: #f7e8e6;
}

.send-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.send-btn i {
    color: #f7e8e6;
}

footer {
    text-align: center;
    color: rgba(255, 154, 145, 0.643);
    background-color: rgb(48, 48, 48);
    margin-top: 10px;
    padding: 20px 0px;
}

/* 小型手機 */
@media (max-width: 485px) {
    .navbar button {
        display: block;
        background-color: transparent;
    }

    .icon {
        position: static;
        margin: 5px 0px 0px 10px;
    }

    nav {
        display: none;
        position: relative;
        flex-direction: column;
        background-color: #1e1e1e;
    }

    nav a {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 20px 15px;
        position: relative;
        transition: background-color 0.2s, color 0.1s;
    }

    nav a:hover {
        background-color: #f7e8e6;
        color: #ff9a91;
    }

    nav a + a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f6b7b1;
    }

    nav a:nth-child(2) {
        margin-right: 0px;
    }

    nav a:nth-child(3) {
        margin-left: 0px;
    }

    nav a::after {
        display: none;
    }

    .about {
        padding-top: 15%;
        flex-direction: column;
    }

    .photo {
        width: 70%;
        margin: 0px auto;
    }

    .about h1 {
        text-align: center;
        width: 100%;
        line-height: 1.2em;
        margin: 30px 0px 30px;
        font-size: 46px;
    }

    .about .txt {
        width: 80%;
    }

    .about p {
        font-size: 18px;
    }

    .skills-list {
        width: 100%;
        margin-bottom: 50px;
    }

    .item-pic {
        width: 80px;
        height: 80px;
        margin: 40px 20px 20px;
    }

    .item-pic i {
        line-height: 80px;
        font-size: 60px;
    }

    .custom-item-pic img {
        margin-top: 14px;
    }

    .project-group {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .box {
        width: 80%;
        margin-bottom: 60px;
    }

    .cv {
        flex-direction: column;
    }

    .cv img {
        width: 70%;
        margin-top: 30px;
    }

    .cv-btn {
        display: block;
        margin-top: 60px;
    }

    .cv-btn a {
        margin: 0px 10px;
    }

    .contact-group {
        flex-direction: column;
    }

    .social-links {
        margin-top: 0px;
    }

    .social-links a {
        width: 60px;
        height: 60px;
        margin: 0px 10px 15px;
    }

    .social-links i {
        font-size: 40px;
        line-height: 60px;
    }

    .social-links p {
        display: none;
    }

    form {
        /* margin-top: 30px; */
        width: 100%;
    }

    #my-form-status {
        margin: 0px 10px;
    }
}

/* 中型手機 */
@media (min-width: 486px) and (max-width: 768px) {
    .navbar button {
        display: block;
        background-color: transparent;
    }

    .icon {
        position: static;
        margin: 5px 0px 0px 10px;
    }

    nav {
        display: none; /* 隱藏 */
        position: relative;
        flex-direction: column;
        background-color: #1e1e1e;
    }

    nav a {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 20px 15px;
        position: relative;
        transition: background-color 0.2s, color 0.1s;
    }

    nav a:hover {
        background-color: #f7e8e6;
        color: #ff9a91;
    }

    nav a + a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f6b7b1;
    }

    nav a:nth-child(2) {
        margin-right: 0px;
    }

    nav a:nth-child(3) {
        margin-left: 0px;
    }

    nav a::after {
        display: none;
    }

    .about {
        padding-top: 15%;
        flex-direction: column;
        position: relative;
    }

    .photo {
        position: absolute;
        top: 15%;
        right: 12%;
        z-index: -1;
    }

    .about h1 {
        line-height: 1.2em;
        margin: 0px 0px 30px;
        font-size: 64px;
    }

    .about p {
        font-size: 18px;
    }

    .skills-list {
        width: 100%;
    }

    .item-pic {
        width: 90px;
        height: 90px;
    }

    .item-pic i {
        line-height: 90px;
        font-size: 60px;
    }

    .project-group {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .box {
        width: 70%;
        margin-bottom: 60px;
    }

    .cv {
        flex-direction: column;
    }

    .cv img {
        width: 60%;
        margin-top: 30px;
    }

    .cv-btn {
        display: block;
        margin-top: 60px;
    }

    .cv-btn a {
        margin: 0px 10px;
    }

    .contact-group {
        flex-direction: column;
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links p {
        font-size: 16px;
    }

    form {
        margin-top: 30px;
        width: 100%;
    }

    #my-form-status {
        margin: 0px 10px;
    }
}

/* 平板 */
@media (min-width: 769px) and (max-width: 992px) {
    nav {
        height: 100%;
    }

    .about {
        padding-top: 15%;
        flex-direction: column;
        position: relative;
    }

    .photo {
        position: absolute;
        top: 15%;
        right: 12%;
        z-index: -1;
    }

    .about h1 {
        line-height: 1.2em;
        margin: 0px 0px 30px;
    }

    .item-pic {
        width: 100px;
        height: 100px;
    }

    .item-pic i {
        line-height: 100px;
        font-size: 60px;
    }

    .custom-item-pic img {
        margin-top: 22px;
    }

    .project-group {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .box {
        width: 65%;
        margin-bottom: 60px;
    }

    .cv img {
        width: 40%;
        margin-top: 30px;
    }

    .contact-group {
        flex-direction: column;
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links p {
        font-size: 18px;
    }

    form {
        margin-top: 30px;
        width: 80%;
    }

    #my-form-status {
        margin: 0px 10px;
    }
}

/* 小型桌機 */
@media (min-width: 993px) and (max-width: 1200px) {
    nav {
        height: 100%;
    }

    .container {
        max-width: 1000px;
    }

    .photo {
        width: 60%;
    }

    .about .txt {
        width: 100%;
    }

    .about h1 {
        font-size: 68px;
    }

    .tool li {
        font-size: 14px;
    }

    .custom-item-pic img {
        width: 60px;
        margin-top: 30px;
    }

    .cv {
        margin-top: 30px;
    }

    .cv img {
        width: 35%;
    }

    form {
        width: 100%;
    }

    #my-form-status {
        margin: 0px 10px;
    }
}

/* 桌機 */
@media (min-width: 1201px) {
    .container {
        max-width: 1200px;
    }

    nav {
        height: 100%;
    }

    .about p {
        width: 90%;
    }

    .custom-item-pic img {
        width: 60px;
        margin-top: 30px;
    }
}
