@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans TC", sans-serif;
}

.light {
    --text-color: #303030;
    --background-color: #fff;
    --second-color: #303030;
    --box-shadow: #aaa;
    --sub-bacground-color: #eee;
    --a-color: #fff;
}

.dark {
    --text-color: #ffe9dd;
    --background-color: #303030;
    --second-color: #1a1a1a;
    --box-shadow: #0000006f;
    --sub-bacground-color: #3a3a3a;
    --a-color: #dcdbdb;
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    width: 100%;
    margin: auto;
}

.up-btn {
    position: fixed;
    bottom: 30px;
    right: 10px;
    width: 55px;
    height: 55px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.up-btn i {
    font-size: 35px;
    color: #fff;
    line-height: 55px;
}

.header-box {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    position: fixed;
    top: 0px;
}

#menuBtn {
    display: none;
    width: 80px;
    height: 80px;
    border: none;
    position: fixed;
    right: 0;
    margin: auto;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

#menuBtn:hover {
    color: #f6b7b1;
}

.icon {
    width: 75px;
    height: 75px;
    margin-left: 30px;
}

.icon img {
    width: 100%;
    border-radius: 50%;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--a-color);
    font-size: 18px;
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px 10px;
}

nav a::after {
    content: "";
    position: absolute;
    height: 0;
    left: 50%; /* 底線起點為中間 */
    right: 50%;
    bottom: 0;
    border-bottom: 2px solid #ff9a91;
    transition: 0.3s;
}

nav a:hover::after {
    /* 底線向左右延伸 */
    left: 0;
    right: 0;
}

.mode-switch {
    background-color: #fff;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.mode-switch i {
    font-size: 30px;
    color: #fa0;
}

.wrap {
    padding: 30px 50px;
    margin-bottom: 50px;
}

.wrap:last-child {
    margin-bottom: 20px;
}

.project-overview {
    width: 100%;
    padding-top: 80px;
}

.project-overview .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 0px 5px 5px var(--box-shadow);
}

.project-pic img {
    width: 100%;
    vertical-align: middle;
}

.project-details {
    align-self: last baseline;
    padding: 20px 20px 50px 20px;
    box-sizing: border-box;
    margin: auto;
}

.project-name {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #aaa;
}

.project-name h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.date {
    text-align: end;
    color: #aaa;
}

.project-txt {
    margin: 10px 0px 20px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    padding: 8px 12px;
    background-color: var(--second-color);
    color: var(--a-color);
    margin: 0px 10px;
    font-size: 20px;
}

.links a:hover {
    background-color: #02020269;
    color: var(--a-color);
}

.links a i {
    color: var(--a-color);
    margin-right: 5px;
}

section:nth-child(even) {
    background-color: var(--sub-bacground-color);
    border-radius: 10px;
}

.group {
    margin: 0px auto 30px;
}

.title,
.main-title {
    text-align: center;
    padding: 10px;
}

.main-title {
    font-size: 26px;
}

.content {
    padding: 20px;
}

.pic {
    margin: auto;
    box-shadow: 5px 8px 20px var(--box-shadow);
}

.pic img {
    width: 100%;
    vertical-align: middle;
}

.features-box {
    display: flex;
    padding: 20px;
    margin: 50px 20px 50px;
    box-shadow: 5px 5px 20px var(--box-shadow);
    background-color: var(--background-color);
    border-radius: 10px;
}

.features .group {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.features .pic {
    width: 30%;
    margin: auto;
    box-shadow: none;
}

.features .features-box:nth-child(even) .pic {
    order: -1;
}

footer {
    text-align: center;
    background-color: var(--second-color);
    margin-top: 10px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.left {
    margin: 0px 20px;
}

.left p {
    color: #eee;
}

.right i {
    color: #eee;
    margin: 0px 10px;
    font-size: 26px;
}

.right i:hover {
    color: #b1aeaeb9;
}

/* 小型手機 */
@media (max-width: 485px) {
    #menuBtn {
        display: block;
        background-color: transparent;
    }

    .mode-switch {
        margin-right: 80px;
    }

    .icon {
        position: static;
        margin: 5px 0px 0px 10px;
    }

    nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 200%;
        flex-direction: column;
    }

    nav a {
        text-align: center;
        width: 100%;
        padding: 20px;
        background-color: #1e1e1e;
        transition: background-color 0.2s, color 0.1s;
    }

    nav a:hover {
        background-color: #f7e8e6;
        color: #ff9a91;
    }

    nav a + a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f6b7b1;
    }

    nav a::after {
        display: none;
    }

    .wrap {
        padding: 30px;
    }

    .project-pic {
        width: 100%;
    }

    .project-details {
        width: 100%;
    }

    .project-name h1 {
        font-size: 38px;
    }

    .links a {
        margin: 0px 5px;
    }

    .features-box {
        flex-direction: column;
        padding: 15px;
        margin: 20px 0px;
    }

    .features .group {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }

    .features .pic {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .features .features-box:nth-child(even) .pic {
        order: 0;
    }

    .up-btn {
        width: 40px;
        height: 40px;
    }

    .up-btn i {
        font-size: 25px;
        line-height: 40px;
    }
}

/* 中型手機 */
@media (min-width: 486px) and (max-width: 768px) {
    #menuBtn {
        display: block;
        background-color: transparent;
    }

    .mode-switch {
        margin-right: 80px;
    }

    .icon {
        position: static;
        margin: 5px 0px 0px 10px;
    }

    nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 200%;
        flex-direction: column;
    }

    nav a {
        text-align: center;
        width: 100%;
        padding: 20px;
        background-color: #1e1e1e;
        transition: background-color 0.2s, color 0.1s;
    }

    nav a:hover {
        background-color: #f7e8e6;
        color: #ff9a91;
    }

    nav a + a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f6b7b1;
    }

    nav a::after {
        display: none;
    }

    .wrap {
        padding: 30px;
    }

    .project-pic {
        width: 70%;
    }

    .project-details {
        width: 80%;
    }

    .project-name h1 {
        font-size: 42px;
    }

    .pic {
        width: 80%;
    }

    .features-box {
        flex-direction: column;
        padding: 15px;
        margin: 20px 10px;
    }

    .features .group {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }

    .features .pic {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .features .features-box:nth-child(even) .pic {
        order: 0;
    }

    .up-btn {
        width: 40px;
        height: 40px;
    }

    .up-btn i {
        font-size: 25px;
        line-height: 40px;
    }
}

/* 平板 */
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .project-pic {
        width: 60%;
    }

    .project-details {
        width: 80%;
    }

    .pic {
        width: 70%;
    }

    .features .group {
        width: 60%;
        margin: 0px 15px;
    }

    .features .pic {
        width: 40%;
    }
}

/* 小型桌機 */
@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .project-overview .wrap {
        flex-direction: row;
    }

    .project-pic {
        width: 50%;
    }

    .project-details {
        width: 50%;
        margin-right: 30px;
        padding-bottom: 20px;
    }

    .group {
        width: 80%;
    }

    .pic {
        width: 50%;
    }
}

/* 桌機 */
@media (min-width: 1201px) {
    .container {
        max-width: 1140px;
    }

    .project-overview .wrap {
        flex-direction: row;
    }

    .project-pic {
        width: 45%;
    }

    .project-details {
        width: 55%;
        margin-right: 30px;
        padding-bottom: 20px;
    }

    .group {
        width: 80%;
    }

    .pic {
        width: 50%;
    }
}
